<a href="https://colab.research.google.com/github/MLWORKSHOP-PREETHAM/Case-Studies-In-DataScience/blob/main/sparkBeginnerTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("SparkByExamples.com")\
      .getOrCreate()

In [ ]:
#create session next create Rdd from parallelize
datalist = [("java,20000"),("python,20000"),("Scala,3000")]
rdd = spark.sparkContext.parallelize(datalist)

In [ ]:
rdd.count()

3

In [ ]:
rdd.collect()

['java,20000', 'python,20000', 'Scala,3000']

In [ ]:
rdd.first()

'java,20000'

In [13]:
rdd.max()

'python,20000'

In [14]:
rdd.min()

'Scala,3000'

In [18]:
data = (("James","Smith","USA","CA"),
  ("Michael","Rose","USA","NY"),
  ("Robert","Williams","USA","CA"),
  ("Maria","Jones","USA","FL")
  )
columns = ("firstname","lastname","country","state")
df = spark.createDataFrame(data=data ,schema=columns)

In [19]:
#how to create data frame

In [22]:
df.show()

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|    James|   Smith|    USA|   CA|
|  Michael|    Rose|    USA|   NY|
|   Robert|Williams|    USA|   CA|
|    Maria|   Jones|    USA|   FL|
+---------+--------+-------+-----+

In [23]:
rdd = spark.sparkContext.parallelize(data)

In [26]:
dfFromRDD1 = rdd.toDF(columns)

In [27]:
dfFromRDD1.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)

In [28]:
dfFromRDD1.show()

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|    James|   Smith|    USA|   CA|
|  Michael|    Rose|    USA|   NY|
|   Robert|Williams|    USA|   CA|
|    Maria|   Jones|    USA|   FL|
+---------+--------+-------+-----+